
.pentagon {
  width: 180px;
  height: 180px;
  background-color: #ff6565;

  clip-path: polygon(
    50% 0%,
    100% 38%,
    82% 100%,
    18% 100%,
    0% 38%
  );

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #fff;
  text-align: center;
}

.pentagon h3 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
}

.pentagon p {
  font-size: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 0.5rem;
}
